/* noinspection CssInvalidPseudoSelector */
:invalid {
    -fx-border-color: red;
    -fx-focus-color: red;
    -fx-highlight-fill: red;
}

.screen {
    -fx-background-color: white;
}

.to-previous-screen {
    -fx-graphic: url("return.png");
}
