/* noinspection CssInvalidPseudoSelector */
:invalid {
    -fx-border-color: red;
    -fx-focus-color: red;
}

:invalid > * {
    -fx-focus-color: green; /* Prevent valid children being marked as invalid due to inheritance of focus color */
}

.screen {
    -fx-background-color: white;
}

.screen-overlay {
    -fx-fill: #00000099;
}

.screen-overlay-text {
    -fx-fill: white;
    -fx-font-size: 50;
}

.to-previous-screen {
    -fx-graphic: url("return.png");
}

.dialog-pane .content {
    -fx-wrap-text: true;
}
