/* noinspection CssInvalidPseudoSelector */
:invalid {
    -fx-border-color: red;
    -fx-focus-color: red;
    -fx-highlight-fill: red;
}

.screen {
    -fx-background-color: white;
}

.screen-overlay {
    -fx-fill: #00000099;
}

.screen-overlay-text {
    -fx-fill: white;
    -fx-font-size: 50;
}

.to-previous-screen {
    -fx-graphic: url("return.png");
}
