/*
author: Stefan Huber
since: 0.1
 */

.label {
    -fx-font-size: 30;
}

#basePlankListLabel {
    -fx-graphic: url("woods.png");
}

#exportPlanksButton {
   -fx-graphic: url("export.png");
}

#requiredPlanksListLabel {
    -fx-graphic: url("rulers.png");
}
