/*
author: Stefan Huber
since: 0.1
 */

Slider {
    -fx-min-width: 250;
}

.heading {
    -fx-font-size: 30;
}

#basePlankListLabel {
    -fx-graphic: url("woods.png");
}

#exportPlanksButton {
   -fx-graphic: url("export.png");
}

#requiredPlanksListLabel {
    -fx-graphic: url("rulers.png");
}
