/*
author: Stefan Huber
since: 0.1
 */

Slider {
    -fx-min-width: 250;
}

.heading {
    -fx-font-size: 30;
}

#basePlankListLabel {
    -fx-graphic: url("woods.png");
}

#basePlankListToggle {
    -fx-graphic: url("woods_small_rotated.png");
}

#exportPlanksButton {
    -fx-graphic: url("export.png");
}

#printPreview {
    -fx-graphic: url("printer.png");
}

#demandListLabel {
    -fx-graphic: url("rulers.png");
}

#demandListToggle {
    -fx-graphic: url("rulers_small_rotated.png");
}

#cuttingPlanName {
    -fx-alignment: CENTER;
    -fx-font-size: 30;
    -fx-font-weight: bolder;
}
